<div id="flash-notifications" hx-swap-oob="true">
	{% for category, message in get_flashed_messages(with_categories=true) %}
	<div class="notification is-light is-{{ category }} mb-5">
		{{ message }}
	</div>
	{% endfor %}
</div>
