<div id="pipeline-{{ pipeline.id }}" class="box" x-data="{ expanded: {{ 'true' if expanded else 'false' }} }">
		<div class="columns">
			<div class="column">
				<p class="title is-7">
					<span class="tag {% if pipeline.status == 'success' -%}
					is-success
					{% elif pipeline.status == 'failed' -%}
					is-danger
					{% elif pipeline.status == 'running' -%}
					is-info
					{% elif pipeline.status == 'skipped' -%}
					is-warning
					{% elif pipeline.status == 'pending' -%}
					is-light
					{%- endif -%}
					">

						<a 
							x-tooltip.raw="{{ pipeline.status|upper }}"
							href="{{ pipeline.web_url }}">Pipeline #{{ pipeline.id }}</a>
					</span>
				</p>
				<p class="subtitle is-7">
					Created
					<span 
						x-data="{ date: new Date('{{pipeline.created_at.isoformat()}}')  }" 
						x-timeago="date"
						x-tooltip.raw="{{ pipeline.created_at|datefmt }}">
					</span>
					{%- if pipeline.last_refreshed_at -%}
					, last updated
					<span 
						x-data="{ date: new Date('{{pipeline.last_refreshed_at.isoformat()}}')  }" 
						x-timeago="date"
						x-tooltip.raw="{{ pipeline.last_refreshed_at|datefmt }}">
						{{ humanize.naturaltime(pipeline.last_refreshed_delta) }}
					</span>
					{% endif %}
				</p>
			</div>
			<div class="column is-narrow">
				<div class="field is-grouped">
					<p class="control" x-data="{ clicked: false }">
						<button class="button" 
							:class="clicked ? 'is-loading' : ''"
							x-on:click="clicked = true"
							hx-post="{{ url_for("reload_pipeline", pipeline_id=pipeline.id) }}"
			 				hx-swap="outerHTML"
							hx-target="#pipeline-{{ pipeline.id }}"
							>
							<span class="icon"><ion-icon name="refresh-outline"></ion-icon></span>
							<span>Reload</span>
						</button>
					</p>
					<p class="control">
						<button class="button" @click="expanded = !expanded" x-html=" expanded ? 'Less' : 'More'"></button>
					</p>
				</div>
			</div>
		</div>
		{# hard code stages for now #}
		{#{% set stages = pipeline.jobs|map(attribute="stage")|list|sort|unique %}#}
		{% set stages = ["build", "test", "report"] %}


		<div class="block" x-show="expanded" x-collapse>
			<hr/>

			<table class="table is-fullwidth">
				<thead>
					<tr>
						<th>Variable</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
				{% for key, value in pipeline.variables.items() if key != "TRIGGER_PAYLOAD" %}
				<tr>
					<td><code>{{ key }}</code></td>
					<td>{{ value }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>

			<hr/>

			{% for stage in stages %}
			{{ stage }}
			{% set jobs = pipeline.jobs|selectattr("stage", "equalto", stage)|list %}

			<span class="tags">
				{% for job in jobs|sort(attribute="name") %}
				<span class="tag {% if job.status == 'success' -%}
				is-success
				{% elif job.status == 'failed' -%}
				is-danger
				{% elif job.status == 'running' -%}
				is-info
				{% elif job.status == 'skipped' -%}
				is-warning
				{% elif job.status == 'pending' -%}
				is-light
				{%- endif -%}
				"
				x-tooltip.raw="{{ job.status|upper }}">
					<a href="{{ job.web_url }}">{{ job.name }}</a>
				</span>
				{% endfor %}
			</span>
			{% endfor %}
		</div>

	</div>
