{% extends "single_column.html" %}

{% block main_column %}
<h1 class="title">Trigger pipeline for</h1>
<div class="box">
{% include "commit_title.html" %}
</div>

<hr/>

<div class="block">
<h2 class="title is-4">Reverting:</h2>

{% for commit in reverts %}
<div class="box">
	{% with commit = commit %}
		{% include "commit_title.html" %}
	{% endwith %}
</div>
{% else %}
Nothing!
{% endfor %}
</div>

<hr/>

<div class="block">
<h2 class="title is-4">Patches:</h2>

<div class="content">
<ol>
{% for patch in patches %}
<li><a href="{{ patch.url }}">{{ patch.url }}</a></li>
{% else %}
No patches!
{% endfor %}
</ol>
</div>
</div>


<div class="field is-grouped is-grouped-centered">
	<p class="control">
		<button class="button is-primary" hx-post={{ request.url }} hx-target="body">
			Launch
		</button>
	</p>
	{% if "back" in request.args %}
	<p class="control">
		<a class="button is-light" href={{ request.args["back"] }}>
			Cancel
		</a>
	</p>
	{% endif %}
</div>

{% endblock %}
