{% extends "base.html" %}

{% block content %}

<div class="container block mt-5">

  {% include "notifications.html" %}

  <div class="columns is-centered">
    <div class="column">
			<p class="title">{% block title %}{% endblock %}</p>
      <div class="box">
				{% block main_column %}
				{% endblock %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
